//COLOR VARIABLES
$color-primary: #FDB813;
$color-primary-dark-1: #DB9B02;
$color-primary-dark-2: #A97701;
$color-primary-dark-3: #765401;
$color-primary-light-1: #FDC746;
$color-primary-light-2: #FED678;
$color-primary-light-3: #FEE6AB;

$color-secondary: #7E8083;
$color-secondary-dark-1: #656769;
$color-secondary-dark-2: #4C4D4F;
$color-secondary-dark-3: #333435;
$color-secondary-light-1: #989A9C;
$color-secondary-light-2: #B2B3B5;
$color-secondary-light-3: #CCCDCE;
$color-secondary-light-4: #EFEFEF;

$color-light-bg: #F7F7F8;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: $color-light-bg;
}

.container {
    display: grid;
    grid-template-rows: 6rem max-content max-content;
    grid-template-columns: [left-start] 4rem [left-end] 1fr [main-start] minmax(80rem, 1fr) [main-end] 1fr [right-start] 4rem [right-end];
    grid-row-gap: .4rem;
    //align-items: center;
    //justify-items: center;
}

.settings {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;

    border: 0;
    background-color: transparent;
    cursor: pointer;

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: $color-secondary;
        transition: all .2s;
    }

    &:hover &__icon {
        transform: rotate(30deg);
    }
}

.content {
    grid-row: 3 / 4;
    grid-column: main-start / main-end;

    display: grid;
    grid-row-gap: 2rem;
    align-items: center;
    justify-items: stretch;
}
