.eval-list {

    display: grid;
    grid-template-rows: minmax(2rem, max-content);
    justify-items: center;
    background-color: #FFF;
    box-shadow: 0 .3rem .6rem rgba(#000, .3);
    border-radius: 3px;
}

.el-header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: [check-start] minmax(3.5rem, max-content) [check-end] minmax(20rem, 1fr) [btn-start] minmax(3rem, max-content) [btn-end];
    align-items: center;

    width: 100%;
    background-color: $color-primary;
    color: $color-secondary-dark-1;
    border-radius: 3px 3px 0 0;

    &__checkbox {
        grid-column: check-start / check-end;
        justify-self: center;

        height: 1.5rem;
        width: 1.5rem;
        border: 2px solid $color-secondary-dark-1;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            border: 2px solid $color-secondary;
        }
    }

    &__title {
        grid-column: check-end / btn-start;
        justify-self: start;

        font-size: 2.8rem;
        font-weight: 700;
    }

    &__shade {
        grid-column: btn-start / btn-end;

        height: 3rem;
        width: 3rem;
        fill: $color-secondary-dark-1;
        transition: transform .2s;
        cursor: pointer;
        margin-right: 1rem;
        transform: rotate(0deg);

        &:hover {
            fill: $color-secondary;
        }

        &--more {
            transform: rotate(180deg);
            height: 3rem;
            width: 3rem;
            fill: $color-secondary-dark-1;
            cursor: pointer;
            margin-right: 1rem;
            transition: transform .2s;

            &:hover {
                fill: $color-secondary;
            }
        }
    }
}

.el-row {
    display: grid;
    grid-template-columns: [check-start] 3.5rem [check-end name-start] minmax(20rem, 1fr) [name-end pct-start] 5rem [pct-end bar-start] 20rem [bar-end check-start] 3rem [check-end open-start] 7rem [open-end print-start] 7rem [print-end date-start] 15rem [date-end];
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

    width: 100%;
    color: $color-secondary-dark-1;

    &__checkbox {
        grid-column: check-start / check-end;
        justify-self: center;

        height: 1.5rem;
        width: 1.5rem;
        border: 2px solid $color-secondary-dark-1;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            border: 2px solid $color-secondary;
        }
    }

    &__name {
        grid-column: name-start / name-end;

        font-size: 1.8rem;
        justify-self: start;
        font-weight: 400;
        padding: .2rem 0;
    }

    &__pct {
        grid-column: pct-start / pct-end;
        justify-self: end;

        font-size: 1.6rem;
    }

    &__bar {
        grid-column: bar-start / bar-end;
        width: 90%;
        height: 60%;
        border: none;
        border-radius: 3px;
        background-color: $color-secondary-light-3;

        &::-webkit-progress-bar {
            background-color: $color-secondary-light-3;
        }
    }

    &__check {
        grid: check-start / check-end;

        height: 2.5rem;
        width: 2.5rem;
        fill: #0A0;
    }

    &__open {
        grid-column: open-start / open-end;

        border: none;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $color-primary;
        padding: .3rem .9rem;
        margin: .3rem 0;
        border-radius: 3px;
        transition: all .2s;
        display: none;
        color: currentColor;
        outline: none;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(#000, .2);
        }

        &:active {
            background-color: $color-primary-dark-1;
            transform: translateY(1px);
            outline: none;
            box-shadow: 0 .2rem .5rem rgba(#000, .2);
        }

        &:focus,
        &::-moz-focus-inner {
            border: 0;
            outline: none;
        }
    }

    &__print {
        grid-column: print-start / print-end;

        border: none;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $color-primary;
        padding: .3rem .9rem;
        margin: .3rem 0;
        border-radius: 3px;
        transition: all .2s;
        display: none;
        color: currentColor;
        outline: none;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(#000, .2);
        }

        &:active {
            background-color: $color-primary-dark-1;
            transform: translateY(1px);
            outline: none;
            box-shadow: 0 .2rem .5rem rgba(#000, .2);
        }

        &:focus,
        &::-moz-focus-inner {
            border: 0;
            outline: none;
        }
    }

    &__date {
        grid-column: date-start / date-end;

        font-size: 1.6rem;
        display: none;
    }

    &:hover {
        background-color: $color-secondary-light-4;
    }

    &:hover &__open,
    &:hover &__print,
    &:hover &__date {
        display: block;
    }
}

.content-open {
    display: block;
}

.content-close {
    display: none;
}

.bar--10 {
    &::-moz-progress-bar {
        background-color: #FF0000;
    }

    &::-webkit-progress-value {
        background-color: #FF0000;
    }
}

.bar--20 {
    &::-moz-progress-bar {
        background-color: #FF2300;
    }

    &::-webkit-progress-value {
        background-color: #FF2300;
    }
}

.bar--30 {
    &::-moz-progress-bar {
        background-color: #FF5700;
    }

    &::-webkit-progress-value {
        background-color: #FF5700;
    }
}

.bar--40 {
    &::-moz-progress-bar {
        background-color: #FF8C00;
    }

    &::-webkit-progress-value {
        background-color: #FF8C00;
    }
}

.bar--50 {
    &::-moz-progress-bar {
        background-color: #FFC100;
    }

    &::-webkit-progress-value {
        background-color: #FFC100;
    }
}

.bar--60 {
    &::-moz-progress-bar {
        background-color: #FFF600;
    }

    &::-webkit-progress-value {
        background-color: #FFF600;
    }
}

.bar--70 {
    &::-moz-progress-bar {
        background-color: #D4FF00;
    }

    &::-webkit-progress-value {
        background-color: #D4FF00;
    }
}

.bar--80 {
    &::-moz-progress-bar {
        background-color: #9FFF00;
    }

    &::-webkit-progress-value {
        background-color: #9FFF00;
    }
}

.bar--90 {
    &::-moz-progress-bar {
        background-color: #6AFF00;
    }

    &::-webkit-progress-value {
        background-color: #6AFF00;
    }
}

.bar--100 {
    &::-moz-progress-bar {
        background-color: #35FF00;
    }

    &::-webkit-progress-value {
        background-color: #35FF00;
    }
}

.bar--complete {
    &::-moz-progress-bar {
        background-color: #0A0;
    }

    &::-webkit-progress-value {
        background-color: #0A0;
    }
}
