.eval-list {
    display: grid;
    grid-template-rows: minmax(2rem, max-content);
    justify-items: center;
    background-color: #FFF;
    box-shadow: 0 .3rem .6rem rgba(#000, .3);
}

.el-header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: [check-start] minmax(3.5rem, max-content) [check-end] minmax(20rem, 1fr) [btn-start] minmax(3rem, max-content) [btn-end];
    align-items: center;

    width: 100%;
    background-color: $color-primary;
    color: $color-secondary-dark-1;

    &__checkbox {
        grid-column: check-start / check-end;
        justify-self: center;

        height: 1.5rem;
        width: 1.5rem;
        border: 2px solid $color-secondary-dark-1;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            border: 2px solid $color-secondary;
        }
    }

    &__title {
        grid-column: check-end / btn-start;
        justify-self: start;

        font-size: 2.8rem;
        font-weight: 700;
    }

    &__shade {
        grid-column: btn-start / btn-end;

        height: 3rem;
        width: 3rem;
        fill: $color-secondary-dark-1;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            fill: $color-secondary;
        }

        &:active {
            transform: rotate(180deg);
        }
    }
}

.el-row {
    display: grid;
    grid-template-columns: [check-start] minmax(3.5rem, max-content) [check-end name-start] minmax(20rem, 1fr) [name-end pct-start] 20rem [pct-end open-start] 7rem [open-end print-start] 7rem [print-end date-start] 15rem [date-end];
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

    width: 100%;
    color: $color-secondary-dark-1;

    &__checkbox {
        grid-column: check-start / check-end;
        justify-self: center;

        height: 1.5rem;
        width: 1.5rem;
        border: 2px solid $color-secondary-dark-1;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            border: 2px solid $color-secondary;
        }
    }

    &__name {
        grid-column: name-start / name-end;

        font-size: 1.8rem;
        justify-self: start;
        font-weight: 400;
    }

    &__pct {
        grid-column: pct-start / pct-end;

        font-size: 1.6rem;
    }

    &__open {
        grid-column: open-start / open-end;

        border: none;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $color-primary;
        padding: .4rem .9rem;
        margin: .5rem 0;
        border-radius: 3px;
        transition: all .2s;
        display: none;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(#000, .2);
        }

        &:active {
            background-color: $color-primary-dark-1;
            transform: translateY(1px);
            outline: none;
            box-shadow: 0 .2rem .5rem rgba(#000, .2);
        }

        &:focus,
        &::-moz-focus-inner {
            border: 0;
            outline: none;
        }
    }

    &__print {
        grid-column: print-start / print-end;

        border: none;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $color-primary;
        padding: .4rem .9rem;
        margin: .5rem 0;
        border-radius: 3px;
        transition: all .2s;
        display: none;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(#000, .2);
        }

        &:active {
            background-color: $color-primary-dark-1;
            transform: translateY(1px);
            outline: none;
            box-shadow: 0 .2rem .5rem rgba(#000, .2);
        }

        &:focus,
        &::-moz-focus-inner {
            border: 0;
            outline: none;
        }
    }

    &__date {
        grid-column: date-start / date-end;

        font-size: 1.6rem;
    }

    &--active {
        //background-color: $color-secondary-light-3;
    }

    &:hover {
        background-color: $color-secondary-light-4;
    }

    &:hover &__open {
        display: block;
    }

    &:hover &__print {
        display: block;
    }
}
