.nti-header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 26rem 1fr minmax(20rem, max-content) 15rem;
    align-items: center;
    justify-items: center;

    background-image: linear-gradient(to right,
                                      $color-secondary-light-1,
                                      $color-secondary-dark-1);

    &__logo {
        height: 4.2rem;
        fill: $color-primary-light-1;
        cursor: pointer;
        transition: all .2s;

        grid-column: 1 / 2;

        &:hover {
            fill: $color-primary;
        }
    }

    &__user {
        grid-column: 3 / 4;

        color: $color-primary;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 3rem;
    }

    &__login {
        grid-column: 4 / 5;

        border: none;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $color-primary;
        color: $color-secondary-dark-2;
        padding: .6rem 1.6rem;
        border-radius: 3px;
        transition: all .2s;
        outline: none;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 1rem 2rem rgba(#000, .2);
        }

        &:active {
            background-color: $color-primary-dark-1;
            transform: translateY(1px);
            outline: none;
            border: 0;
            box-shadow: 0 .5rem 1rem rgba(#000, .2);
        }

        &:focus,
        &::-moz-focus-inner {
            border: 0;
            outline: none;
        }
    }
}
